.line {
  position: absolute;
  top:0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
  z-index: -10;
}

.line_highlighted {
  z-index: 10;
}

.svg {
  overflow: visible !important;
}

.svgPath {
  stroke: rgba(0, 0, 0, 0.5);
  stroke-width: 1;
  fill: none;
}

.svgPath_highlighted {
  stroke-width: 3;
  stroke: rgba(0, 0, 0, 0.7);
}
