.container {
  width: max-content;
}

.yearContainer {
  margin-right: 100px;
  display: inline-block;
  vertical-align: top;
  width: 250px;
}

.year {
  text-align: center;
  font-size: 32px;
  line-height: 50px;
}
